
input[type="file"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    text-decoration: none;
    background-color: transparent;
}

.custom-file-upload {
    border: 1px solid #3a3a3a;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    background-image: url('./add_photo.png');
    background-color: #3a3a3a;
    background-repeat: no-repeat;
    background-size: contain;
}
