body,
html,
#root{
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
  width:auto;
  background-image: url('./homepage-background-cover.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}