body,
html,
#root{
  height: 100%;
}

.App {
  height: 100vh;
  width: auto;
  background-image: url('./homepage-background-cover.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}